{{#each name}}
    <li class="list-group-item">
        <div>
            <img src="{{flags.svg}}" alt="{{name.official}}">
            <h2 class="card-title">{{name.official}}</h2>
        </div>
    </li>
{{/each}}